@model Domain.Model.Student
@{
    ViewBag.Title = "Add";
}

<h2>学生</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.FlowerNum, "小红花数目：")
    @Html.EditorFor(m => m.FlowerNum)
    <hr/>
    @Html.LabelFor(m => m.Name, "姓名：")
    @Html.EditorFor(m => m.Name)

    @Html.HiddenFor(m => m.Id)
    <hr/>
    @Html.LabelFor(m => m.No, "学号：")
    @Html.EditorFor(m => m.No)
    <hr/>
    <button type="submit">添加</button>
}