@model IEnumerable<Domain.Model.Student>

@{
    ViewBag.Title = "title";
}
<div>
    <h4>查询条件</h4>
    @Html.DropDownList("subjectId", (IEnumerable<SelectListItem>)ViewBag.Subject)
    <button id="search">查询</button>
</div>
<h3>学生信息</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>小红花数量</th>
            <th>所选课程</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var student in Model)
            {
                <tr>
                    <td>@student.No</td>
                    <td>@student.Name</td>
                    <td>@student.FlowerNum</td>
                    <td>
                        @string.Join(",",  student.Subjects?.Select(m => m.Name))
                    </td>
                    <td>@Html.ActionLink("编辑", "Edit", "Student", new { studentId = student.Id }, new { })</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">还未录入任何学生</td>
            </tr>
        }
    </tbody>
</table>
<br />
<span>第<input style="width: 30px;" id="pageSize" value="1"/>页</span>
<button type="button" id="skipBtn">跳转</button>
<hr />
@Html.ActionLink("添加学生", "Add", "Student")
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search").click(function () {
                var pageSize = $("#pageSize").val() === '' ? 1 : $("#pageSize").val();
                $.post("/Student/Index",
                    {
                        subjectId: $("select[name = 'subjectId']").val(), pageSize: pageSize
                    }, function (result) {
                        var htmlStr = "";
                        var data = eval(result);
                        if (data.length > 0) {
                            $.each(data,
                                function (index, value) {
                                    var name = "";
                                    $.each(value.Subjects,
                                        function (i, v) {
                                            name += v.Name + ",";
                                        });
                                    name = name.substr(0, name.length - 1);
                                    htmlStr += "<tr>" +
                                        "<td>" + value.No + "</td>" +
                                        "<td>" + value.Name + "</td>" +
                                        "<td>" + value.FlowerNum + "</td>" +
                                        "<td>" + name + "</td>" +
                                        "<td><a href='/Student/Edit?studentId=" + value.Id + "'>编辑</a></td>" +
                                        "</tr>";
                                });
                        } else {
                            htmlStr += "<tr><td colspan='5'>还未录入任何学生</td></tr>";
                        }
                        $("tbody").children().remove();
                        $("tbody").append(htmlStr);
                    });
            });
            $("#skipBtn").click(function() {
                $("#search").trigger("click");
            });
        })
    </script>

}
